kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraMounts:
    - hostPath: {E2E_DIR_PATH}/e2e/sa.pub
      containerPath: /etc/kubernetes/pki/sa.pub
    - hostPath: {E2E_DIR_PATH}/e2e/sa.key
      containerPath: /etc/kubernetes/pki/sa.key
  kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    apiServer:
      extraArgs:
        service-account-issuer: https://nniikkoollaaii.github.io/kafka-sasl-oauthbearer-workload-identity
        service-account-key-file: /etc/kubernetes/pki/sa.pub
        service-account-signing-key-file: /etc/kubernetes/pki/sa.key
    controllerManager:
      extraArgs:
        service-account-private-key-file: /etc/kubernetes/pki/sa.key