kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraMounts:
    - hostPath: /workspaces/workload-identity-kafka-sasl-oauthbearer/e2e/sa.pub # to edit SERVICE_ACCOUNT_KEY_FILE="$(pwd)/sa.pub"
      containerPath: /etc/kubernetes/pki/sa.pub
    - hostPath: /workspaces/workload-identity-kafka-sasl-oauthbearer/e2e/sa.key # to edit SERVICE_ACCOUNT_SIGNING_KEY_FILE="$(pwd)/sa.key"
      containerPath: /etc/kubernetes/pki/sa.key
  kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    apiServer:
      extraArgs:
        service-account-issuer: http://nniikkoollaaii.github.io/workload-identity-kafka-sasl-oauthbearer
        service-account-key-file: /etc/kubernetes/pki/sa.pub
        service-account-signing-key-file: /etc/kubernetes/pki/sa.key
    controllerManager:
      extraArgs:
        service-account-private-key-file: /etc/kubernetes/pki/sa.key